<!DOCTYPE html>
<html ng-app="compufscar">
<head>
    <meta charset="utf-8">
    <title>Comp UFSCar</title>
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
</head>
<body>
    <div id="wrapper">
        <div id="sidebar-wrapper" class="hero-sidebar">
            <div class="container-fluid">
                <figure class="text-center">
                    <img src="assets/img/logo.png" alt="Comp-UFSCar logo" class="logo" />
                </figure>
                <h1>
                    Computing UFSCar
                </h1>

                <p class="lead">
                    Collaborative repositories for projects and classes' tasks.
                </p>
                <ul>
                    <a href="#tr"><li>Introduction</li></a>
                    <a href="#repos"><li>Repositories</li></a>
                    <a href="#gd"><li>Guidelines</li></a>
                </ul>
                <p>
                    <a href="http://dc.ufscar.br" class="link-warning">DC UFScar</a> |
                    <a href="https://github.com/comp-ufscar">GitHub org</a><br>
                </p>
            </div>
        </div>

        <div id="page-content-wrapper">
            <div class="container-fluid">
                <section name="tr" id="tr" class="content-section">
                    <h2><a href="#tr">Introduction</a></h2>
                    <hr>
                    <p>
                        This website contains information about the <a href="https://github.com/comp-ufscar">comp-ufscar</a>
                        organization at github and its <a href="#repos">repositories</a>.
                        We appreciate you spending time at Comp-UFSCar. Please consider <a href="#contributing">contributing</a> to our repositories.
                    </p>

                    <div ng-controller="MembersController as membersList" ng-init="membersList.load()" class="list-members">
                        <div ng-show="!membersList.members.$resolved">
                            <i>...</i>
                        </div>

                        <div class="row">
                            <div ng-repeat="member in membersList.members" class="col-md-1">
                                <a href="{{ member.html_url}}" title="{{member.login}}'s GitHub page.">
                                    <img src="{{member.avatar_url}}" class="img-responsive" alt="{{member.login}}'s GitHub page." />
                                </a>
                            </div>
                        </div>
                    </div>

                    <p class="alert alert-warning">
                        <strong>Important!</strong> <a href="https://github.com/comp-ufscar">comp-ufscar</a>
                        was created by students and it is not associated with or maintained by employees of
                        the Computing department at Federal University of São Carlos or any individual linked
                        and/or constrained by any kind of formal contract to public institutions or private
                        enterprises.
                    </p>
                </section>
                <section name="repos" id="repos" class="content-section"
                        ng-controller="RepositoriesController as repositoriesList" ng-init="repositoriesList.load()">
                    <h2><a href="#repos">Repositories</a></h2>
                    <hr>

                    <input type="text" placeholder="Search in repositories... (Name, author, )" ng-model="repositorysearch"
                    class="form-control"><br/>
                    <span ng-show="!repositoriesList.repositories.$resolved">...</span>

                    <div class="card-columns">
                        <div class="card" ng-repeat="repository in repositoriesList.repositories | filter: repositorysearch">
                            <div class="card-block">
                                <h4 class="card-title">
                                    <a href="{{repository.html_url}}" target="_new">
                                        {{ repository.name }}
                                    </a>
                                    <small>#{{ repository.id }}</small>
                                </h4>
                                <p class="card-text">
                                    {{ repository.description }}
                                </p>
                                <footer>
                                    <small class="text-muted">
                                        <span class="pull-right">
                                            <span ng-show="repository.forks_count" title="{{ repository.forks_count }} forks."
                                                  class="label label-primary label-pill">
                                                {{repository.forks_count}}
                                            </span>
                                            <span ng-show="repository.watchers_count" title="{{ repository.watchers_count }} watchers."
                                                  class="label label-info label-pill">
                                                {{repository.watchers_count}}
                                            </span>
                                            <span ng-show="repository.stargazers_count" title="{{ repository.stargazers_count }} stargazers."
                                                  class="label label-warning label-pill">
                                                {{repository.stargazers_count}}
                                            </span>
                                            <span title="{{ repository.language }} is the predominant language." class="label label-default">
                                                {{repository.language}}
                                            </span>
                                        </span>

                                        Last pushed at: {{ repository.pushed_at }}
                                    </small>
                                </footer>
                            </div>
                        </div>
                    </div>
                </section>

                <section name="gd" id="gd" class="content-section">
                    <h2><a href="#gd">Guidelines</a></h2>
                    <hr>
                    <p>
                        There are many students at the Computing dept. and the number of repositories can grow awfully fast.
                        Everyone's welcome to contribute to the organization, but we ask you to <strong>follow</strong> these guidelines.
                    </p>

                    <div name="gd-share-project" id="gd-share-project">
                        <div class="content-section">
                            <h3><a href="#gd-share-project">I want to share a project</a></h3>
                            <p>
                                Projects are kept in repositories that reference a <strong>class</strong>, without distinguishing year or term.
                            </p>
                        </div>
                    </div>

                    <div name="gd-class-notes" id="gd-class-notes">
                        <h3><a href="#gd-class-notes">I would like to share my classes' notes</a></h3>

                        <p>
                            The repository <a
                            href="https://github.com/Comp-UFSCar/comp-ufscar-classes">comp-ufscar-classes</a> keeps
                            all files that aren't directly
                            related to code or technical production. It's organized by
                            <code>classes > professor > year.term > content</code> and future
                            contributions should follow this structure. Please refer to the comp-ufscar-classes'
                            <a href="https://github.com/Comp-UFSCar/comp-ufscar-classes/blob/master/README.md">README.md</a>
                            file for more information.
                        </p>
                    </div>
                </section>

                <section name="contributing" id="contributing" class="content-section">
                    <h2><a href="#contributing">Contributing</a></h2>
                    <hr />

                    <h4>Merging your project repository to a class repository without loosing commit logs</h4>
                    <p>In case you were versioning your project on Git and don't want to loose the modification logs.</p>
                    <p>
                        First, conform your project to our standard:
                    </p>
                    <pre class="code code-shell">
$ cd /path/to/your/repository      # Navigate to your repository.
$ mkdir projects/{project_name} -p # Create the folders projects and projects/{project_name}.
$ mv ./* projects/{project_name}/  # Move everything to the created folder.
$ git add .
$ git commit -m "Conform project for Comp-UFSCar merging."
$ git push --all</pre>
                    <p class="alert alert-warning">
                        <strong>Caution!</strong> Please make sure that the <code>{project_name}</code> choosen
                        isn't
                        already being
                        used by other project in the
                        given class' repository.
                    </p>

                    <p>
                        Now merge your project and the class repository:
                    </p>
                    <pre class="code code-shell">
$ cd /path/to/comp-ufscar/class/repository
$ git remote add {repository} https://github.com/{username}/{repository}.git
$ git pull --all
$ git remote remove {repository}
$ git push --all</pre>
                    <p>
                        The sequence of steps above is recommended as it will merge the list of commits while
                        preserving
                        paths.
                        Other solutions might be found at <a href="http://stackoverflow.com/questions/1425892">
                            How do you merge two git repository? (Stack Overflow)</a>
                    </p>
                </section>
            </div>
        </div>
    </div>

    <script src="node_modules/angular/angular.js" charset="utf-8"></script>
    <script src="node_modules/angular-resource/angular-resource.js" charset="utf-8"></script>
    <script src="node_modules/angular-route/angular-route.js" charset="utf-8"></script>
    <script src="app/app.js" charset="utf-8"></script>
    <script src="app/members/controller.js" charset="utf-8"></script>
    <script src="app/repositories/controller.js" charset="utf-8"></script>
</body>
</html>
