<!DOCTYPE html>
<html ng-app="compufscar">
<head>
    <meta charset="utf-8">
    <title>Comp UFSCar</title>
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
</head>
<body>
    <header class="navbar navbar-light navbar-static-top bd-navbar" role="banner">
        <div class="container">
            <button class="navbar-toggler pull-right hidden-sm-up" type="button" data-toggle="collapse" data-target="#bd-main-nav">
                ☰
            </button>
            <a class="navbar-brand" href="/">
                Comp-UFSCar
            </a>
            <div class="collapse navbar-toggleable-xs pull-right" id="bd-main-nav">
                <nav class="nav navbar-nav">

                    <a class="nav-item nav-link active" href="#tr">Introduction</a>
                    <a class="nav-item nav-link" href="#authors">Authors</a>
                    <a class="nav-item nav-link" href="#repos">Repositories</a>
                    <a class="nav-item nav-link" href="#gd">Guidelines</a>
                </nav>
            </div>
        </div>
    </header>
    <div class="hero">
        <div class="container">
            <figure>
                <img src="assets/img/logo.png" alt="Comp-UFSCar logo" class="logo pull-left" />
            </figure>
            <h1>
                Computing UFSCar
            </h1>
            <p class="lead">
                Collaborative repositories for projects and classes' tasks.
            </p>
        </div>
    </div>
    <section name="tr" id="tr" class="container content-section">
        <h2><a href="#tr">Introduction</a></h2>
        <hr>
        <p>
            This website contains information about the <a href="https://github.com/comp-ufscar">comp-ufscar</a> organization at github.
        </p>
        <p>
            <strong>Important:</strong> comp-ufscar was created by students and it is not associated or maintained by any employee of the Computing department
            at Federal University of Sao Carlos.
        </p>
    </section>

    <section name="authors" id="authors" class="container content-section" ng-controller="AuthorsController as authorsList" ng-init="authorsList.load()">
        <h2><a href="#authors">Authors</a></h2>
        <hr>
        <p>
            The following people have somehow contributed for this project: <span ng-hide="authorsList.authors">loading...</span>
        </p>
        <p class="sequence sequence-authors">
            <span ng-repeat="author in authorsList.authors">{{ author.name }} (<a href="{{ author.url }}">{{ author.username }})</a>; </span>
        </p>
    </section>

    <section name="repos" id="repos" class="container content-section" ng-controller="RepositoriesController as repositoriesList" ng-init="repositoriesList.load()">
        <h2><a href="#repos">Repositories</a></h2>
        <hr>

        <input type="text" placeholder="Search in repositories..." ng-model="repositorysearch" class="form-control"><br />

        <div class="list-group">
            <div ng-repeat="repository in repositoriesList.repositories | filter: repositorysearch" class="list-group-item">
                <span class="pull-right">
                    <span ng-show="repository.forks_count" title="{{ repository.forks_count }} forks." class="label label-primary label-pill">
                    {{repository.forks_count}}
                    </span>

                    <span ng-show="repository.watchers_count" title="{{ repository.watchers_count }} watchers." class="label label-info label-pill">
                    {{repository.watchers_count}}
                    </span>

                    <span ng-show="repository.stargazers_count" title="{{ repository.stargazers_count }} stargazers." class="label label-warning label-pill">
                    {{repository.stargazers_count}}
                    </span>

                    <span title="{{ repository.language }} is the predominant language." class="label label-default">
                    {{repository.language}}
                    </span>
                </span>
                <h4 class="list-group-item-heading">
                    <a href="{{repository.html_url}}" target="_new">
                    {{ repository.name }}
                    </a>
                    <small>#{{ repository.id }}</small>
                </h4>
                <p class="list-group-item-text">
                    {{ repository.description }}
                </p>
                <small>
                    Last pushed at: {{ repository.pushed_at }}
                </small>


            </div>

        </div>
    </section>

    <section name="gd" id="gd" class="container content-section">
        <h2><a href="#gd">Guidelines</a></h2>
        <hr>
        <p>
            There are many students at the Computing dept. and the number of repositories can grow awfully fast. Everyone's welcome to contribute to
            the organization, but we ask you to <strong>follow</strong> these guidelines.
        </p>

        <div name="gd-share-project" id="gd-share-project">
            <div class="content-section">
                <h3><a href="#gd-share-project">I want to share a project</a></h3>
                <p>
                    Projects are kept in repositories that reference a <strong>class</strong>, without distinguishing year or term.
                </p>
            </div>

            <h4>Merging your project repository to a class repository without loosing commit logs</h4>
            <p>In case you were versioning your project on Git and don't want to loose the modification logs.</p>
            <p>
                First, conform your project to our standard:
            </p>
            <pre class="code code-shell">
    $ cd /path/to/your/repository      # Navigate to your repository.
    $ mkdir projects/{project_name} -p # Create the folders projects and projects/{project_name}.
    $ mv ./* projects/{project_name}/  # Move everything to the created folder.
    $ git add .
    $ git commit -m "Conform project for Comp-UFSCar merging."
    $ git push --all</pre>
            <p class="alert alert-warning">
                <strong>Caution!</strong> Please make sure that the <code>{project_name}</code> choosen isn't already being used by other project in the
                given class' repository.
            </p>
            <p>
                Now merge your project and the class repository:
            </p>
            <pre class="code code-shell">
    $ cd /path/to/comp-ufscar/class/repository
    $ git remote add {repository} https://github.com/{username}/{repository}.git
    $ git pull --all
    $ git remote remove {repository}
    $ git push --all</pre>
            <p>
                The sequence of steps above is recommended as it will merge the list of commits while preserving paths. Other solutions might be found at <a href="http://stackoverflow.com/questions/1425892">How do you merge two git repository? (Stack Overflow)</a>
            </p>
        </div>

        <div name="gd-class-notes" id="gd-class-notes">
            <h3><a href="#gd-class-notes">I would like to share my classes' notes</a></h3>
            <p>
                The repository <a href="https://github.com/Comp-UFSCar/comp-ufscar-classes">comp-ufscar-classes</a> keeps all files that aren't directly
                related to code or technical production. It's organized by <code>classes > professor > year.term > content</code> and future
                contributions should follow this structure. Please refer to the comp-ufscar-classes'
                <a href="https://github.com/Comp-UFSCar/comp-ufscar-classes/blob/master/README.md">README.md</a> file for more information.
            </p>
        </div>
    </section>

    <footer class="bg-footer">
        <div class="container text-right">
            <a href="http://dc.ufscar.br" class="link-warning">DC UFScar</a> |
            <a href="https://github.com/comp-ufscar">GitHub org</a><br>
        </div>
    </footer>


    <script src="node_modules/angular/angular.js" charset="utf-8"></script>
    <script src="node_modules/angular-resource/angular-resource.js" charset="utf-8"></script>
    <script src="node_modules/angular-route/angular-route.js" charset="utf-8"></script>
    <script src="app/app.js" charset="utf-8"></script>
    <script src="app/authors/controller.js" charset="utf-8"></script>
    <script src="app/repositories/controller.js" charset="utf-8"></script>
</body>
</html>
