body {
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    letter-spacing: 0.01em;
    font-size: 1em;
    color: #555;
}

.alert {
    font-size: 16px;
}

.bg-footer {
    color: #555;
    margin-top: 2em;
    padding-top: 4em;
    padding-bottom: 2em;
}

.content-section h1 {
    margin-top: 2em;
    border-bottom: 1px solid #f0f0ff;
    padding-bottom: .05em;
}

.content-section {
    margin-bottom: 10px;
}

.content-section h2 {
    margin-top: 2em;
    border-bottom: 1px solid #f0f0ff;
    padding-bottom: .05em;
}

.content-section h3 {
    margin-top: 1em;
}

.code {
    font-family: "Ubuntu Beta", "Bitstream Vera Sans", DejaVu Sans, Tahoma, sans-serif;
    background-color: #333;
    color: #fff;
    padding: 1em;
    border-radius: 5px;
    font-size: 14px;
}

.code-shell {
}

a, a:hover, a:visited, a:active {
    color: crimson;
}

.hero-sidebar .nav-item {
    text-align: center;
    margin-bottom: 1em;
}

.hero-sidebar footer {
    font-size: 14px;
}

.hero-sidebar a {
    font-size: 16px;
}

.hero-sidebar .nav {
    margin-bottom: 1em;
}

.hero-sidebar a {
    color: white;
}

.form-control {
    border: 3px solid #eee;
}

.form-control:focus {
    border-color: #eee;
}

.list-members {
    margin-top: 1em;
    margin-bottom: 1em;
}

.avatar-member {
    max-width: 200px;
}
