body {
    text-rendering: geometricPrecision;
    overflow-x: hidden;
    font-family: "Merriweather", serif;
    letter-spacing: 0.01rem;
    font-size: 1.1rem;
    line-height: 1.5em;
    color: #5C6367;
}

.alert {
    font-size: 16px;
}

.bg-footer {
    color: #555;
    margin-top: 2em;
    padding-top: 4em;
    padding-bottom: 2em;
}

.content-section h1 {
    font-weight: bold;
    margin-top: 2em;
    border-bottom: 1px solid #f0f0ff;
    padding-bottom: .05em;
}

.content-section {
    margin-bottom: 10px;
}

.content-section h2 {
    font-weight: bold;
    margin-top: 2em;
    border-bottom: 1px solid #f0f0ff;
    padding-bottom: .05em;
}

.content-section h3 {
    margin-top: 1.5em;
}

.code {
    font-family: "Merriweather", serif;
    background-color: #F7FAFB;
    color: #333;
    padding: 1em;
    border-radius: 2px;
    border: 2px solid #ededed;
    font-size: 14px;
}

.code-shell {
}

a, a:hover, a:visited, a:active {
    color: crimson;
}

.hero-sidebar .nav-item {
    text-align: center;
    margin-bottom: 1em;
}

.hero-sidebar footer {
    font-size: 14px;
}

.hero-sidebar a {
    font-size: 16px;
}

.hero-sidebar .nav {
    margin-bottom: 1em;
}

.hero-sidebar a {
    color: white;
}

.form-control {
    border: 3px solid #eee;
}

.form-control:focus {
    border-color: #eee;
}

.list-members {
    margin-top: 1em;
    margin-bottom: 1em;
}

.avatar-member {
    max-width: 200px;
}
